# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nathan\Desktop\Fiverr\Orders\Minecraft Plugin\marcothesniper - 15-01-2021\Source\SafezoneTimer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
